---
import MdiGoogleTranslate from "../assets/icons/MdiGoogleTranslate.astro";
import PhCopy from "../assets/icons/PhCopy.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  description="Convert Georgian transliteration to back the Gerogian"
  title="Translify: Georgian Transliteration Converter"
>
  <div class="mx-auto flex flex-col gap-8">
    <section class="flex flex-col gap-2">
      <div>
        <label class="text-sm" for="source-text">Source text</label>
        <textarea
          aria-describedby="char-count"
          class="textarea w-full"
          id="source-text"
          name="source-text"
          placeholder="Type Gerogian transliterated (Latin) text here"
          rows="5"></textarea>
        <div aria-live="polite" class="text-right" id="char-count">0</div>
      </div>

      <button
        class="btn btn-primary mx-auto w-full max-w-48"
        id="transliterate-btn"
      >
        Convert
      </button>
    </section>

    <section class="flex flex-col gap-2">
      <div>
        <label class="text-sm" for="result-text">Result text:</label>
        <textarea
          class="textarea w-full"
          id="result-text"
          name="result-text"
          placeholder="Result text"
          rows="5"></textarea>
      </div>

      <div class="ml-auto">
        <details class="dropdown dropdown-end">
          <summary class="btn m-1" id="translate-dropdown-btn"
            >Translate with</summary
          >
          <ul
            class="menu dropdown-content bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm"
          >
            <li>
              <a id="gt-link" target="_blank">
                <MdiGoogleTranslate class="size-5" />Google Translate
              </a>
            </li>
          </ul>
        </details>

        <button
          aria-label="Copy result"
          class="btn btn-square ml-auto"
          id="copy-btn"
          type="button"
        >
          <PhCopy class="size-6" />
        </button>
      </div>
    </section>
  </div>
</Layout>

<script>
  import { transliterate } from "../helpers/transliterate";

  const sourceTextarea = document.querySelector(
    "#source-text",
  ) as HTMLTextAreaElement;
  const resultTextarea = document.querySelector(
    "#result-text",
  ) as HTMLTextAreaElement;

  const charCountElement = document.querySelector(
    "#char-count",
  ) as HTMLDivElement;
  const transliterateButton = document.querySelector(
    "#transliterate-btn",
  ) as HTMLFormElement;
  const copyBtn = document.querySelector("#copy-btn") as HTMLButtonElement;
  const translateDropdownBtn = document.querySelector(
    "#translate-dropdown-btn",
  ) as HTMLButtonElement;

  const gtLink = document.querySelector("#gt-link") as HTMLAnchorElement;
  gtLink.addEventListener("pointerdown", () => {
    gtLink.href = `https://translate.google.com/?sl=ka&tl=en&text=${encodeURIComponent(
      resultTextarea.value,
    )}`;
  });

  function updateTranslateState() {
    const disabled = !resultTextarea.value.trim();
    translateDropdownBtn.toggleAttribute("disabled", disabled);
    translateDropdownBtn.classList.toggle("btn-disabled", disabled);
  }

  sourceTextarea.addEventListener("input", (event) => {
    const target = event.target as HTMLTextAreaElement;
    charCountElement.textContent = String(target.value.length);
  });

  resultTextarea.addEventListener("input", updateTranslateState);

  transliterateButton.addEventListener("click", () => {
    const text = sourceTextarea.value;
    resultTextarea.value = transliterate(text);
    updateTranslateState();
  });

  copyBtn.addEventListener("click", () => {
    const copyText = resultTextarea.value;
    navigator.clipboard.writeText(copyText);
  });

  updateTranslateState();
</script>
