---
import Layout from "../layouts/Layout.astro";
import Copy from "../assets/icons/Copy.astro";
---

<Layout
  description="Convert Georgian transliteration to English"
  title="Translify: Georgian Transliteration Converter"
>
  <div class="mx-auto flex flex-col gap-8">
    <form class="flex flex-col gap-2" id="text-conversion-form">
      <div class="flex flex-col">
        <label for="source-text" class="text-sm">Source text</label>
        <textarea
          class="textarea textarea-bordered"
          id="source-text"
          name="source-text"
          placeholder="Type Georgian transliteration here"
          rows="5"></textarea>
        <div class="ml-auto text-sm" id="letters-count" title="Letters count">
          0
        </div>
      </div>

      <button class="btn btn-primary mx-auto w-full max-w-48" type="submit">
        Convert
      </button>

      <div class="flex flex-col">
        <label for="result-text" class="text-sm">Result text:</label>
        <textarea
          class="textarea textarea-bordered"
          id="result-text"
          name="result-text"
          rows="5"
          placeholder=""></textarea>
      </div>

      <button
        class="btn btn-square ml-auto"
        type="button"
        id="copy-btn"
        aria-label="Copy result"
      >
        <Copy class="size-6" />
      </button>
    </form>
  </div>

  <script>
    import { transliterate } from "../helpers/transliterate";

    const sourceTextarea = document.querySelector(
      "#source-text",
    ) as HTMLTextAreaElement;
    const resultTextarea = document.querySelector(
      "#result-text",
    ) as HTMLTextAreaElement;

    const lettersCountElement = document.querySelector(
      "#letters-count",
    ) as HTMLDivElement;
    const textConversionForm = document.querySelector(
      "#text-conversion-form",
    ) as HTMLFormElement;
    const copyBtn = document.querySelector("#copy-btn") as HTMLButtonElement;

    sourceTextarea.addEventListener("input", (event) => {
      const target = event.target as HTMLTextAreaElement;
      lettersCountElement.textContent = String(target.value.length);
    });

    textConversionForm.addEventListener("submit", (event) => {
      event.preventDefault();

      const text = sourceTextarea.value;
      resultTextarea.value = transliterate(text);
    });

    copyBtn.addEventListener("click", () => {
      const copyText = resultTextarea.value;
      navigator.clipboard.writeText(copyText);
    });
  </script>
</Layout>
