<footer class="footer footer-center bg-base-300 p-4 text-base-content">
  <aside>
    <p>
      Website made by <a
        class="link link-primary"
        href="https://github.com/nakrovati">@nakrovati</a
      >
    </p>
    <p>
      Copyright © {new Date().getFullYear()} - All right reserved
    </p>
  </aside>
</footer>
