---
interface Props {
  class?: string;
  for: string;
  text: string;
}

const { class: className, for: forAttr, text } = Astro.props;
---

<label class:list={["text-sm", className]} for={forAttr}>{text}</label>
