---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

interface Props {
  description?: string;
  title: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf8" />
    <meta content={description} name="description" />
    <meta content="width=device-width" name="viewport" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <meta content={Astro.generator} name="generator" />
    <title>{title}</title>
  </head>
  <body>
    <div class="min-h-[100dvh]">
      <Header />
      <main>
        <div class="container mx-auto px-2 py-8">
          <slot />
        </div>
      </main>
    </div>
    <Footer />
  </body>
</html>
